;section name = server name, any custom name you wish
;section name should contain only letters and numbers and be unique
[roboger]
;address on the server
addr=PUT_HERE_YOUR_ROBOGER_ADDRESS
;push address
push=http://roboger.com
;how many times the script should try to send a message
retries=3
;delay between retries
retry_delay=5
;server response timeout
timeout=5
;backup server in case of failed push 
;backup=local1
;default sender, use instead of user@hostname
;sender=sendername
;default location if not specified
;location=plant1

;[local1]
;addr=PUT_HERE_YOUR_LOCAL_ROBOGER_ADDRESS
;backups servers are used only if the script failed to push msg on primary
;type=backup
;push=http://192.168.1.99:719
;retries=1
;location=plant1
;retry_delay=2
;timeout=5
;default sender, use instead of user@hostname
;sender=sendername
;default location if not specified
;location=plant1
