[db]
;database access
host = localhost
user = root
password = dbpassword
database = roboger

[server]
;debug mode
debug = no
;smtp host for email endpoints
smtp_host = 127.0.0.1
;seconds to keep events in db (0 - don't keep at all)
keep_events = 86400
;log_file = var/roboger.log

[api]
;API host/port to listen to
listen = 0.0.0.0:719
ssl_listen = 0.0.0.0:720
ssl_module = builtin
;ssl_cert = test.crt
;ssl_key = test.key
;ssl_chain = test.pam
;API server threads
thread_pool = 15
;change this!
masterkey = VERYSECRETKEY
;keep this
master_allow = 127.0.0.1
